.bg-login-image {
	background:url(../img/bglogin.png) !important;
	background-position:center !important;
	background-size:cover !important;
}

.bg-transparan {
	background-color: rgba(1,1,1,.1);
}

a {
	text-decoration: none !important;
}